.tippy-box,
.tooltip,
[role="tooltip"],
.microtip,
a[data-tooltip],
*[data-tooltip],
.popover,
.preview,
.link-preview {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

a[title], [title] {
  pointer-events: auto;
}

*[class*="tooltip"]:hover::after,
*[data-tooltip]:hover::after {
  display: none !important;
  content: none !important;
}
